/* Navigation */

.nav-link 
    color: $links

.sidenav-trigger
    color: #ffffff

.brand-logo
    height: 65px
    width: 65px
    @media screen and (max-width: 601px) 
        height: 55px
        width: 55px 