/* Navigation */

header 
    color: #000000
    min-height: 5rem
    border-bottom: #cecece .25rem solid  
    padding-top: 2.5rem

    h1 
        font-family: $brand-font
        font-size: 2rem
        margin: 0

    #branding 
        float: left
    
    ul
        margin: 0
        padding: 0
        
        li 
            display: inline
            float: left
            
    nav
        float: right

    .fab, .fas
        font-size: 2rem

    @media (max-width: 767px)  
      #branding, nav, nav ul li
          float: none
          text-align: center
          
      
