/* Boxes */

.boxes 
  display: flex
  flex-direction: row
  text-align: center
  justify-content: space-around
  flex-wrap: nowrap
  
  @media (max-width: 750px)  
      flex-direction: column 

.box
  margin: 2rem
  padding: $padding
  text-align: center

.fab, .fas
    padding: .15rem
    font-size: 3rem
    width: 3rem
    text-decoration: none
    text-align: center

.fab:hover
    opacity: 0.4