// GLOBAL VARIABLES 

// Fonts
$heading-font: 'Roboto Mono', monospace
$paragraph-font: 'Roboto', sans-serif
$brand-font: 'Open Sans', sans-serif

// Brand
$links: #000000

// Spacing
$padding: .5rem

// Colors
$white: rgb(255,255,255)
$alpha: .8
$white-alpha: rgba($white, $alpha)
